body {
    background-color: blanchedalmond;
}

.grid {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75vh;
    height: 75vh;
    border: 2px solid black;
    margin: auto;


}

.container {
    display: flex;
    flex: 1;

}

.square {
    flex: 1;
}


.top {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
