body {
    background-color: blanchedalmond;
}

.grid {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 60vh;
    border: 2px solid black;
    margin: auto;


}

.container {
    display: flex;
    flex: 1;

}

.square {
    flex: 1;
}

.hovered {
    background-color: black;
}

.top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
